.about-main-wrapper {
    background: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-top-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.about-description {
    font-size: 4vw;
    text-align: center;
    margin-left:35px;
    margin-right:35px;
    font-family: 'FuturaMedium';
}

.about-know-more-arrow {
    font-size: 4vw;
    margin-right:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'FuturaMedium';
    margin-top: 45px;
    background: none;
    border: none;
    outline: none;
    color: black;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    transition: 0.15s all ease-in-out;
    border: 3px solid transparent;
}

.about-know-more-arrow i {
    font-size: 4vw;
    margin: 10px;
}

.about-know-more-arrow:hover {
    cursor: pointer;
    background-color: black;
    border: solid white 3px;
    color: white;
}

.about-know-more-page {
    background:black;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(150%);
    transition: 0.75s all ease-in-out;
    z-index: 56;
    overflow-y: scroll;
}

.about-know-more-active {
    transform: translateX(0%);
}

.about-know-more-description {
    font-size: 2.5vw;
    margin-right:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'FuturaMedium';
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.about-know-more-main-wrapper {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.about-know-more-profile-picture {
    width: 12vw;
    height: 15vw;
    margin-top: 70px;
}

.about-bottom-wrapper {
    width: 50vw;
    height: 25vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

#about-google-map {
    width: 97%;
    height: 95%;
    background-color: grey;
}

@media only screen and (max-width: 1500px) {
    .about-bottom-wrapper {
        width: 80vw;
        height: 55vw;
    }
    .about-know-more-profile-picture {
        width: 14vw;
        height: 18vw;
        margin-top: 70px;
    }
    .about-know-more-description {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 1100px) {
    .about-bottom-wrapper {
        width: 80vw;
        height: 55vw;
    }
    .about-know-more-profile-picture {
        width: 24vw;
        height: 30vw;
        margin-top: 70px;
    }
    .about-know-more-description {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .about-bottom-wrapper {
        width: 80vw;
        height: 55vw;
    }
    .about-know-more-profile-picture {
        width: 44vw;
        height: 50vw;
    }
    .about-know-more-description {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 900px) {
    .about-description {
        font-size: 7vw;
    }
    .about-know-more-arrow {
        font-size: 7vw;
    }
    .about-know-more-arrow i {
    font-size: 7vw;
    margin: 10px;
    }
}