.contact-hero-title {
    color: black;
    font-family: 'FuturaMedium';
    font-size: 5vw;
    text-align: center;
}

.contact-main-wrapper {
    margin-top: 45px;
    margin-bottom: 45px;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.75s all ease-in-out;
}

.contact-form-top-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

label,input {
    display: block;
}

.contact-form label {
    font-size: 4vw;
    font-family: 'FuturaMedium';
}

.contact-form-input {
    border: solid 1.5px black;
    height: 35px;
    font-family: 'FuturaMedium';
    font-size: 2vw;
    height: 3vw;
}

.contact-form-button {
    font-size: 4vw;
    font-family: 'FuturaMedium';
    all: unset;
    padding: 5px;
    border: 1.5px solid black;
    margin-top: 20px;
    transition: 0.25s all ease-in-out;
    border-radius: 25px;
}

.contact-form-button:hover {
    border: 1.5px solid white;
    color: white;
    background-color: black;
    cursor: pointer;
}

.contact-form-button span {
    font-size: 4vw;
    font-family: 'FuturaMedium';
}

.contact-form-input-message {
    border: solid 1.5px black;
    height: 150px;
    resize: none;
    font-size: 2vw;
}

.contact-form-send {
    margin-top: 45px;
    position: absolute;
    transform: translateX(0%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    transition: 0.75s all ease-in-out;
}

.contact-form-send h1 {
    color: black;
    font-family: 'FuturaMedium';
    font-size: 5vw;
}

.contact-form-send-svg {
    width: 90vw;
}

.contact-hidden-message {
    position: absolute;
    transform: translateX(-150%);
}

.contact-hide-form {
    position: relative;
    transform: translateX(150%);
}