.landing-hero-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vw;
    font-family: 'FuturaMedium';
    color: white;
    mix-blend-mode: difference;
    letter-spacing: 1rem;
    z-index: 10;
}

.landing-background-triangle {
    height: 0;
    width: 0;
    border-right : calc(100vw - 1vw) solid transparent;
    border-bottom : calc(100vh - 80px) solid black;
    z-index: 5;
}

.landing-background-triangle-two {
    position: absolute;
    z-index: 1;
    top: 80px;
    height: 0;
    width: 0;
    border-left : calc(100vw - 0.5vw) solid transparent;
    border-top : calc(100vh - 80px) solid white;
    z-index: 5;
}