.work-main-wrapper {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work-top-hero-title {
    color: white;
    font-family: 'FuturaMedium';
    font-size: 5vw;
}

@media only screen and (max-device-width: 1600px)  {
    .work-top-hero-title {
    font-size: 8vw;
    }
}

@media only screen and (max-device-width: 500px)  {
    .work-top-hero-title {
    font-size: 17vw;
    }
}