.navbar-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    mix-blend-mode: difference;
    z-index: 55;
}

.navbar-right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.navbar-right-section *:only-child {
    padding: 10px;
}

.navbar-left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.navbar-hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    background: none;
    border: none;
    outline: none;
}

.navbar-hamburger-menu-bar {
    height: 5px;
    width: 50px;
    border-radius: 25%;
    background: black;
    transition: 0.25s all ease-in-out;
}

.navbar-right-section a {
    cursor: pointer;
    font-size: 40px;
}

.navbar-right-section a:nth-child(1):hover {
    color: #0E76A8;
}

.navbar-hamburger-menu-bar:hover {
    cursor: pointer;
}

.navbar-hamburger-menu-page {
    background:black;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-150%);
    transition: 0.75s all ease-in-out;
    z-index: 51;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-hamburger-menu-page-anchor-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 7vw;
    font-family: 'FuturaMedium';
    height: calc(100% - 80px);
    margin-top: 25px;
}

.navbar-hamburger-menu-page-anchor-wrapper a {
    transition: 0.25s all ease-in-out;
}

.navbar-hamburger-menu-page-anchor-wrapper a::after {
    content: '';
    position: relative;
    top: -50%;
    display: block;
    height: 20px;
    width:0%;
    background-color: red;
    transition: 0.25s all ease-in-out;
}

.navbar-hamburger-menu-page-anchor-wrapper a:hover{
    cursor: pointer;
}

.navbar-hamburger-menu-page-active {
    transform: translateX(0%);
}

.bar-one-active {
    transform: rotate(45deg);
}

.bar-two-active {
    transform: rotate(-45deg);
}

.navbar-hamburger-menu-page-anchor-wrapper a:hover::after {
    content: '';
    position: relative;
    top: -50%;
    display: block;
    height: 10px;
    width:100%;
    background-color: red;
    transition: 0.25s all ease-in-out;
}

@media only screen and (max-device-width: 1000px)  {
    .navbar-hamburger-menu-page-anchor-wrapper {
    font-size: 15vw;
    }
}

@media only screen and (max-device-width: 500px)  {
    .navbar-hamburger-menu-page-anchor-wrapper {
    font-size: 25vw;
    }
}