.caroussel-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.caroussel-previous-slide {
    transform: translateX(85%);
    z-index: 35;
}

.caroussel-next-slide {
    transform: translateX(-85%);
    z-index: 35;
}

.caroussel-current-slide {
    transform: translateX(0%);
    z-index: 40;
}

.caroussel-btn {
    font-size: 4vw;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'FuturaMedium';
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    color: white;
    transition: 0.25s all ease-in-out;
} 

.caroussel-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.caroussel-btn i{
    font-size: 4vw;
    margin: 10px;
}

.caroussel-btn-next {
    right: 20%;
}

.caroussel-btn-previous {
    left: 20%;
}