.work-bottom-grid-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.work-bottom-grid-element-img-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.work-bottom-grid-element-img {
    border-radius: 5%;
    height: 80%px;
    width: 100%;
    max-width: 650px;
}

.work-bottom-grid-element-img-hover {
    position: relative;
    top: -20%;
    height: 80%;
    width: 100%;
    background-color: black;
    opacity: 80%;
    z-index: 50;
}

.work-bottom-grid-element-title {
    font-family: 'FuturaMedium';
    text-align: center;
    font-size: 4.5vw;
}

.work-bottom-grid-element-description {
    font-family: 'FuturaMedium';
    text-align: center;
    font-size: 3.5vw;
}

@media only screen and (max-device-width: 1450px)  {
    .work-bottom-grid-element-title {
    font-size: 6vw;
    }
    .work-bottom-grid-element-description {
    font-size: 5vw;
    }
}